:root {
    --table-border: 2px solid black;
}

body {
    font-size: large;
}

#content {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#versions-tested-line {
    font-variant-caps: small-caps;
}

.tested-version {
    margin: 4px;
}

.output-table {
    table-layout: fixed;
    border-collapse: collapse;
    border: var(--table-border);

    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.output-table th, .output-table td {
    padding: 10px;
    border: var(--table-border);
}

.output-text, .code-view {
    overflow: auto;
}
