:root {
    --output-view-border: 2px solid black;
}

body {
    font-size: large;
    max-width: 100%;

    margin-left: 1rem;
    margin-right: 1rem;
}

#grid-container {
    display: grid;

    grid-template-columns: fit-content(15em) minmax(0, 1fr);
    grid-template-rows: max-content max-content 1fr;
    grid-template-areas:
        "header header"
        "versions-tested main"
        "page-nav main";

    column-gap: 3rem;
}

/* Try to check if the screen width is less than the (very approximate) sum of
 * all element max widths and paddings */
@media only screen and (max-width: calc(1em + 15em + 3em + 40em + 1em)) {
    #grid-container {
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas:
            "header"
            "main"
            "versions-tested"
            "page-nav";
    }
}

header {
    grid-area: header;
    justify-self: center;
    text-align: center;
}

header > h1 > a {
    color: black;
    text-decoration: none;
}

#versions-tested {
    grid-area: versions-tested;
}

.tested-version {
    margin: 4px;
}

main {
    grid-area: main;
    justify-self: start;
    max-width: 100%;
}

.content-text {
    max-width: 40em;
}

.code-view {
    overflow: auto;
}

.output-view > .output-view-flex {
    display: flex;
    flex-wrap: wrap;

    max-width: 100%;
}

.output-view > .output-view-flex > div {
    flex-grow: 1;

    box-sizing: border-box;
    border: var(--output-view-border);
    margin-right: -1.5px;
    margin-bottom: -1.5px;

    --output-view-padding: 0.7em;
    padding-left: var(--output-view-padding);
    padding-right: var(--output-view-padding);
    padding-bottom: var(--output-view-padding);
}

.output-view-heading {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.output-view > .output-view-heading {
    font-size: 1.5em;
}

.output-view > .output-view-flex > div > .output-view-heading {
    width: 100%;
    font-size: 1.3em;
    border-bottom: var(--output-view-border);
}

.output-view > .output-view-flex > div > div > .output-view-heading {
    font-size: 1.1em;
}

.output-text {
    background: #f0f0f0;
    padding: 0.5em;
    margin: 0;

    counter-reset: line-number;
    white-space: pre-wrap;
}

.output-line {
    display: inline-block;
    text-indent: -3em;
    padding-left: 3em;
}

.output-text > span::before, .output-text > details > span::before, .output-text > details > summary::before {
    counter-increment: line-number;
    content: counter(line-number);

    /* display: inline-block; */
    border-right: 1px solid black;
    padding-right: 0.5em;
    margin-right: 0.5em;
}

#page-nav {
    grid-area: page-nav;
}

#page-nav > ol {
    list-style: none;
    padding-left: 0;
}

#page-nav ol > li > details > ol {
    list-style: none;
}

#page-nav ol > li > details > ol > li {
    padding-top: 0.5em;
}

#page-nav ol > li > details > ol > li a {
    color: rgb(0, 0, 130);
}
